.place__title {
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
    margin: 0;
    align-self: end;
}
