.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    color: #FFF;
    background-color: #2A2C2F;
    font-family: "Inter", "Arial ", sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

