/* 1280 */
.page__header {
  padding-top: 28px;
  margin-bottom: 56px;
}

/* 1024, 768 */
@media screen and (max-width: 1024px) {
  .page__header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 480px) {
  .page__header {
    padding-top: 16px;
  }
}
