.h1 .h2 .h3 .h4 .h5 .h6 {
    margin: 0;
    padding: 0;
}

.page {
    background-color:  #2A2C2F;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto;
    padding-top: 28px;
}

.header__logo {
    max-width: 176px;
    min-height: 52px;
  }

.logo__lang-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    align-items: center;
    color: #FFFF;  
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .3;
}

.lead {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 56px;
  }

.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.05;
    color: #fff;
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 32px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
  }

.lead__image {
    max-width: 100%;
    width: 100%;
    margin-top: 64px;
  }

.lead__caption {
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
}

.intro {
    margin: 0 auto;
    margin-top: 92px;
    max-width: 984px;
}

.intro__title {
    margin: 0;
    color: #fff;
    font-style:  normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.075;
  }

  .intro__text {
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 32px;
    color: #fff;
    font-style:  normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.65;
  }

.intro__numbers {
    font-style:  normal;
    font-weight: 400;
}

.intro__list-text {
    margin: 0;
    color: #fff;
    font-style:  normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
}

.intro__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin-top: 92px;    
}

.photo-grid__item {
    max-width: 284px;
    min-height: 213px;
    margin-top: 92px 16px auto;
}

.places {
    margin: 0 auto;
    margin-top: 92px;
    max-width: 984px;
}

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
    grid-gap: 48px 40px;
    margin-bottom: 80px;
}

.place__title {
    margin: 0;
    align-self: end;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
    align-self: end;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF
}

.place__image {
    max-width: 460px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

.place__website{
    align-self: end;
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
}

.place__url-heading{
    margin-bottom: 12px;
    color: #aaa;
    font-style:  normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 3px;
}
.place__link {
    color: #fff;
    font-style:  normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    transition: opacity .2s linear;
    opacity: 1;
  }
  
  .place__link:hover {
    opacity: .6;
  }
