.h1 .h2 .h3 .h4 .h5 .h6 {
    margin: 0;
    padding: 0;
}

.page{
    background-color:  #2A2C2F;
}

.header {
    max-width: 1184px;
    min-height: 52px;
    margin: 28px 48px 56px 48px;
}
.logo {
    position: absolute;
}