.place__image {
  margin: 0;
  padding: 0;
  width: 460px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42.96875vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 480px) {
  .place__image {
    width: 100vw;
    margin-bottom: 32px;
    object-fit: cover;
  }
}