.intro__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 320px) {
    .intro__list {
    max-width: 288px;
    height: 90px;
    padding: 34px 16px auto;
    font-style: normal;
    }
}