.header__link__active_true{
    text-decoration-line: underline;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    align-items: center;
    color: #FFFF;
}

.header__link__active_true:hover {
    opacity: .3;
  }
  
  @media screen and (max-width: 768px) {
    .header__link__active_true {
      font-size: 18px;
      line-height: 1.3;
    }
  }
  