/* 1280*/
.content__cover {
  margin-top: 92px;
  margin-bottom: 92px;
}


/* 768 */
@media screen and (max-width: 768px) {
  .content__cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .content__cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}

