.header__logo {
    max-width: 176px;
    min-height: 52px;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        max-width: 928px;
        max-height: 52px;
    }
}



@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 142px;
        min-height: 42px;
    }
}



@media screen and (max-width: 320px) {
    .header__logo{
        max-width: 288px;
        max-height: 42px;
        padding: 16px 16px auto;
    }
}