.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  max-width: 1184px;
  width: calc(100% - 96px);
  box-sizing: border-box;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}


@media screen and (max-width: 480px) {
  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
  }
}