.header__link {
  margin: 0;
  margin-right:  18px;
  padding: 0;
  font-weight: 400;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.header__link:hover{
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__link{
    max-width: 288px;
    max-height: 42px;
    padding: 16px 16px auto;
    font-size: 18px;
    line-height: 20px;
  }
}
