.place__paragraph {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    margin-bottom: 24px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
    max-width: 320px;
    font-size: 16px;
    line-height: 163%;
    padding: 0 16px;
    }
  }