.intro__text {
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 32px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}
