.intro__text {
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 32px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (max-width: 320px) {
    .intro__text {
    max-width: 288px;
    height: 520px;
    padding: 40px 16px auto;
    
    }
  }
