.place__link {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal; 
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 2px; 
    color: #FFFF;
    transition: opacity 0.3s ease; 
} 


.place__link:hover { 
    opacity: .6; 
}
