.place__link {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal; 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 12px; 
    letter-spacing: 2px; 
    color: #FFFF; 
} 


.place__link:hover { 
    opacity: .6; 
}
