.place__link {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    transition: 0.3s ease-in;
    color: #fff;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }