.places__place {
  margin-bottom: 79px;
}

@media screen and (max-width: 768px) {
  .places__place {
    margin-bottom: 76px;
  }
}

@media screen and (max-width: 480px) {
  .places__place {
    margin-bottom: 50px;
  }
}
