.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
    grid-template-areas: 
      "title website"
      "img";
    column-gap: 48px ;
    row-gap: 48px ;
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
    grid-gap: 48px 32px;
    margin-bottom: 84px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
    grid-gap: 48px 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px)  {
  .place {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    margin-bottom: 64px;
}
}