.place__website {
    align-self: flex-end;
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
}
@media screen and (max-width: 767px)  {
    .place__website {
      max-width: 320px;
      margin-left: 16px;
      margin-right: 11px;
    }
  }