/* 1280, 1024 */
.content__lead {
  margin-bottom: 92px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .content__lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .content__lead {
    margin-bottom: 64px;
  }
}
