.header__link-active {
    text-decoration-line: underline;
}

.header__link-active:hover {
    opacity: .3;
  }
  
  @media screen and (max-width: 768px) {
    .header__link-active {
      font-size: 18px;
      line-height: 1.3;
    }
  }
  