.intro__title {
    margin: 0;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        margin-top: 40px;
        padding: 64px 16px auto;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}